/logs/
/conf/
/.codex-temp/
/.github/

/app/public/*
!/app/public/wp-content/

/app/public/wp-content/*
!/app/public/wp-content/themes/
!/app/public/wp-content/plugins/
!/app/public/wp-content/index.php

/app/public/wp-content/themes/*
!/app/public/wp-content/themes/index.php
!/app/public/wp-content/themes/memphislaw/

/app/public/wp-content/plugins/*
!/app/public/wp-content/plugins/index.php
!/app/public/wp-content/plugins/memphislaw-core/
!/app/public/wp-content/plugins/memphislaw-google-maps/

/app/public/wp-content/uploads/
/app/public/wp-config.php
/app/public/.htaccess
/app/public/local-xdebuginfo.php
/app/public/readme.html
/app/public/license.txt
